.App {
  text-align: center;
  background: #134E5E;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.navBar{
  display:flex;
  justify-content:space-evenly;
  

}
.styledLink{
  text-decoration:none;
  color:white;
  margin-top:3%;
  font-size:1.1rem;

}
.selfie1{
  /* make sure to find a square pic to fill this */
  margin-top:4%;
  height:180px;
  width:180px;
  border-radius:100%;
}
.name1{
margin-top: 2%;
font-size: 2rem;
color:white;
cursor: default;
}
.role1{
  margin-top:2%;
  color:white;
  font-size:1.2rem;
  cursor: default;

}

.hr1{
  margin-top:2%;
  width:4%;
  height:3px;
  background-color:white;
}
.socialLink{
  margin: 2% 10px 0px 10px;
}
.aboutDiv{
  display:flex;
  flex-direction:column;
}
.aboutImg{
  height:175px;
  width:1000px !important;
  margin-top:20px;
}
.aboutTitle{
font-size:2rem;
color:white;
margin-top:10px;
cursor: default;
}
.aboutText{
color:white;
font-size:1.3rem;
margin:20px;
}

/* START PORTFOLIO CSS */
.pjWrapper{
  padding-right:6%;
  padding-left:6%;

}
.portTitle{
  color:white;
  font-size:1.7rem;
  margin-top:20px;
  cursor: default;
}
.pjHouse{
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom:40px;
  margin-top:20px;
}
.pjImgHouse{
  margin:10px;
  background: white;
  display:flex;
  flex-direction: column;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  transition: all .2s ease-in-out;
}
.pjImgHouse:hover { transform: scale(1.1); }
.pjPic{
  height:200px;
  width:22vw;
}
.pjaTitle{
  color:black;
  text-decoration: none;
  font-size:1.3rem;
  padding:10px;
  position:relative;
  top:-3px;
}
.pjIcon{
  position:relative;
  top:-10px;

}

/* END PORTFOLIO CSS */
